<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaPica</title>
    <link href="./css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecera">
            <a href="./index.html"><img src="./images/logo.png" alt="logo" id="logo"></a>
            <nav>
                <ul id="menu">
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="./views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="./views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2>Productos</h2>
        <div id="container-fotos">
            <div class="producto">
                <a href="./images/Marble_Grace.png" data-lightbox="image-1" data-title="Marble Grace"><img  class="imagen" src="./images/Marble_Grace.png" alt="Un lavabo de forma ovalada fabricado en piedra sinterizada con vetas grises, que aporta un toque elegante y atemporal al baño."  width="250"></a>
                <p><span class="negrita">Grace:</span> Un lavabo de forma ovalada fabricado en piedra sinterizada con vetas grises, que aporta un toque elegante y atemporal al baño.</p>
            </div>
            <div class="producto">
                <a href="./images/Oceanic_Teardrop.png" data-lightbox="image-1" data-title="Oceanic Teardrop"><img  class="imagen" src="./images/Oceanic_Teardrop.png" alt="Un cuenco redondo en tono turquesa mate, inspirado en las profundidades del mar, ideal para espacios con acentos de color."  width="250"></a>
                <p><span class="negrita">Teardrop:</span> Un cuenco redondo en tono turquesa mate, inspirado en las profundidades del mar, ideal para espacios con acentos de color.</p>
            </div>
            <div class="producto">
                <a href="./images/Cream_Rectilinear.png" data-lightbox="image-1" data-title="Cream Rectilinear"><img  class="imagen" src="./images/Cream_Rectilinear.png" alt="Diseño rectangular de líneas puras y acabado crema suave, perfecto para baños que buscan una estética minimalista y cálida."  width="250"></a>
                <p><span class="negrita">Cream Rectilinear:</span> Diseño rectangular de líneas puras y acabado crema suave, perfecto para baños que buscan una estética minimalista y cálida.</p>
            </div>
            <div class="producto">
                <a href="./images/Midnight_Jet.png" data-lightbox="image-1" data-title="Midnight Jet"><img  class="imagen" src="./images/Midnight_Jet.png" alt="Lavabo rectangular en negro mate, con cantos redondeados y un grifo a tono, que ofrece un contraste moderno y muy sofisticado."  width="250"></a>
                <p><span class="negrita">Midnight Jet:</span> Lavabo rectangular en negro mate, con cantos redondeados y un grifo a tono, que ofrece un contraste moderno y muy sofisticado.</p>
            </div>
            <div class="producto">
                <a href="./images/Sunburst_Orb.png" data-lightbox="image-1" data-title="Sunburst Orb"><img  class="imagen" src="./images/Sunburst_Orb.png" alt="Una pieza redonda y profunda en color amarillo vivo, que inunda la estancia de luminosidad y energía positiva."  width="250"></a>
                <p><span class="negrita">Sunburst Orb:</span> Una pieza redonda y profunda en color amarillo vivo, que inunda la estancia de luminosidad y energía positiva.</p>
            </div>
            <div class="producto">
                <a href="./images/Urban_Slate.png" data-lightbox="image-1" data-title="Urban Slate"><img  class="imagen" src="./images/Urban_Slate.png" alt="Diseño rectangular de líneas puras y acabado crema suave, perfecto para baños que buscan una estética minimalista y cálida."  width="250"></a>
                <p><span class="negrita">Urban Slate:</span> Diseño rectangular de líneas puras y acabado crema suave, perfecto para baños que buscan una estética minimalista y cálida.</p>
            </div>
            <div class="producto">
                <a href="./images/Pure_Oval_Classic.png" data-lightbox="image-1" data-title="Pure Oval Classic"><img  class="imagen" src="./images/Pure_Oval_Classic.png" alt="Ovalada en blanco brillante con rebosadero integrado, que combina tradición y funcionalidad para un uso diario sin complicaciones."  width="250"></a>
                <p><span class="negrita">Pure Oval Classic:</span> Ovalada en blanco brillante con rebosadero integrado, que combina tradición y funcionalidad para un uso diario sin complicaciones.</p>
            </div>
            <div class="producto">
                <a href="./images/Matrix_Noir.png" data-lightbox="image-1" data-title="Matrix Noir"><img  class="imagen" src="./images/Matrix_Noir.png" alt="Un oval moderno en negro satinado, con líneas orgánicas y grifo cromado de altura media; ideal en baños de inspiración industrial."  width="250"></a>
                <p><span class="negrita">Matrix Noir:</span> Un oval moderno en negro satinado, con líneas orgánicas y grifo cromado de altura media; ideal en baños de inspiración industrial.</p>
            </div>
            <div class="producto">
                <a href="./images/Dual_Harmony.png" data-lightbox="image-1" data-title="Dual Harmony"><img  class="imagen" src="./images/Dual_Harmony.png" alt="Una doble cubeta rectangular en blanco, pensada para baños familiares o zonas de lavado donde se requiera versatilidad y orden."  width="250"></a>
                <p><span class="negrita">Dual Harmony:</span> Una doble cubeta rectangular en blanco, pensada para baños familiares o zonas de lavado donde se requiera versatilidad y orden.</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="pie">
            <div class="redes">
                <a href="https://www.gmail.com"><img src="./images/gmail.png" alt="gmail"></a>
                <a href="https://www.linkedin.es"><img src="./images/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com"><img src="./images/instagram.png" alt="instagram"></a>
                <a href="https://www.youtube.es"><img src="./images/youtube.png" alt="youtube"></a>
                <a href="https://www.facebook.com"><img src="./images/facebook.png" alt="facebook"></a>
            </div>
                <p>&copy; AquaPica - 2025 | Todos los derechos reservados</p>
        </div>
        <script src="./js/lightbox-plus-jquery.js"></script>  
        <script src="./js/script.js"></script>
    </footer>
</body>
</html>